<button class='btn btn-light'{{action "onNewSet"}}>
  <span>Create New Training Set</span>
</button>
<button class='btn btn-light'{{action "onPriorityList"}}>
  <span>Show List</span>
</button>
{{outlet}}